* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #024059;
}

.container {
  width: fit-content;
  height: fit-content;
  margin: 10% auto auto;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #026873, #04BF8A);
  box-shadow: 2px 2px 8px #03A64A;
  color: #f9f6f0;
}

.thermometer-container .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}

.thermometer-container .data-container {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  padding-bottom: 50px;
  font-size: 24px;
  font-weight: 500;
}

.thermometer-container .data-container .element {
  margin: auto;
  align-items: flex-start;
  text-align: center;
  padding: 0 12px 0 12px;
}